@model IEnumerable<klc_one.Areas.FoodPlan.Models.ViewModels.IngredientListingViewModel>

@{
    ViewData["Title"] = "Ingredienser";
}

@await Html.PartialAsync("~/Views/Partials/Forms/_IndexHeader.cshtml", new { Search = ViewData["Search"], Categories = ViewData["Categories"] } )
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Kategori
            </th>
            <th>Handlinger</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="@(@item.DeletedAt != null ? "table-danger" : "")">
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @await Html.PartialAsync("~/Views/Partials/Forms/_IndexActions.cshtml", item)
                </td>
            </tr>
        }
    </tbody>
</table>
@await Html.PartialAsync("~/Views/Partials/Forms/_IndexPagination.cshtml", Model)
