@model klc_one.Areas.FoodPlan.Models.Dish

@{
    ViewData["Title"] = $"Rediger: {Model.Name}";
}

<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DeletedAt" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryForDishID" class="control-label"></label>
                <select asp-for="CategoryForDishID" class="form-control" asp-items="ViewBag.CategoryForDishID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control tinyMCE" cols="20"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Procedure" class="control-label"></label>
                <textarea asp-for="Procedure" class="form-control tinyMCE" cols="20"></textarea>
                <span asp-validation-for="Procedure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <textarea asp-for="Comment" class="form-control tinyMCE" cols="20"></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            @await Html.PartialAsync("~/Views/Partials/Forms/_EditSubmit.cshtml")
        </form>
    </div>
    <div class="col-md-4">
        <h4>Ingredienser</h4>
        <ul class="list-group list-group-flush">
            @foreach (var item in Model.DishIngredients)
            {
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        @item.Amount @item.Unit @item.Ingredient.Name
                    </div>
                    <span class="badge bg-danger rounded-pill">
                        <a asp-controller="DishIngredients" asp-action="RemoveIngredientFromDish" class="mx-2" asp-route-dishID="@Model.Id" asp-route-ingredientID="@item.Ingredient.Id"><i data-feather="trash-2" class="text-white feather-16" data-bs-toggle="tooltip" data-bs-placement="top" title="Slet"></i></a>
                    </span>
                </li>
            }
        </ul>
        <a asp-controller="DishIngredients" asp-action="AddIngredientToDish" class="mx-2 btn btn-success" asp-route-id="@Model.Id">Tilføj ingrediens</a>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}